/*
Document   : styles.css
Created on : 2015-11-11 01:18 PM
Author     : meehol
Description:
Purpose of the stylesheet follows.
To change this template use Tools | Templates.
*/

body { -webkit-animation: bugfix infinite 1s; }
 @-webkit-keyframes bugfix { from { padding: 0; } to { padding: 0; } }

root {
    display: block;
}

header {
    width: 100%;
    position: relative;
}

body {
    margin-bottom: 0;
}

.company-header {
    width: 75%;
    display: inline-block;
    float: left;
    height: 10%;
    transition: all 0.4s ease-out;    
}
.company-header-logo {
    display: inline-block;
    width: 84px;
    height: 84px;
    background-color: #777;
    text-align: center;
    line-height: 84px;
}
.company-header-name {
    display: inline-block;
    line-height: 84px;
    font-size: 45px;
    vertical-align: bottom;
}
.share-icons-header {
    display: inline-block;
    position: relative;
    height: 84px;
    width: 25%;
    text-align: center;
}

.share-icons-header img {
    width: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.menu-header {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    border: 1px solid #888;
    background-color: #CCC;
    height: 34px;
    overflow: hidden;
    transition: height 0.3s ease-out;
}
.menu-header > div {
    cursor: pointer;
}
.menu-button {
    width: 12%;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin: 2px 0;
    background-color: #CCC;
}

.menu-button:hover,
.menu-button:focus {
    background-color: #777;
}

.menu-header a {
    text-decoration: none;
    color: #000;
}

.menu-menubutton {
    outline: none;
    width: 20px;
    border: 1px solid #777;
    border-radius: 2px;
    background-color: #CCC;
    line-height: 30px;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    width: 25% !important;
    transition: all 0.3s ease-out;
}

#menu-menuButton {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

#menu-menuButton:checked + .menu-header {
    height: 245px;
}

#menu-menuButton:checked + .menu-header > .menu-button {
     opacity: 1 !important;
}

#menu-menuButton:checked + .menu-header > .menu-menubutton {
    background-color: #777;    
}

.menu-menubutton:focus {
    background-color: #777;
}

.sidebar {
    width: 26%;
    float: right;
    text-align: center;
    margin: 60px 1% 0px;
}

.sidebar img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

.main-article {
    width: 65%;
    display: inline-block;
    margin: 20px 0px 0px 40px;
}

.main-article img {
    width: 100%;
}

.main-article p {
    font-size: 120%;
    text-align: justify;
}

.share-icons-footer {
    width: 70%;
    background-color: #EEE;
    margin: 0 auto;
    text-align: center;
    padding: 15px 10% 10px;
    border: 1px solid #777;
    border-bottom: none;
    min-height: 20px;
}
.share-icons-footer img {
    width: 50px;
    display: block;
    margin: 0 auto;
}

.share-icons-header img:hover,
.share-icons-footer img:hover {
    transition: opacity 0.3s ease-in-out;
    opacity: 0.5;
}

.share-icons-footer a {
    width: 30%;
    display: inline-block;
}
@media (max-width: 680px) and (min-width: 0px) {
    .mobile-is-hidden {
        display: none;
    }
    .menu-button {
        opacity: 0;
        transition: all 0.5s ease-out;
    }
    .menu-header > div:nth-child(2) {
        margin-top: 10px;
    }
    .mobile-full-width {
        width: 100%;
    }
    .text-centered {
        text-align: center;        
    }
    .main-article {
        width: 90%;
        margin: 20px auto;
        display: block;
    }
    .company-header-name {
        font-size: 9vw;
    }
    .floating-links-container ul {
        padding: 0 20px;
        margin-top: 10px;
    }
    .menu-header {
        border: none;
        background-color: transparent;
    }
}

@media (min-width: 681px) {
    .desktop-is-hidden {
        display: none;
    }
    .floating-links-container {
        float: right;
        width: 140px;
        height: 80px;
        margin: 10px;
        margin-left: 25px;
    }
    .floating-links-container ul {
        padding: 0 20px;
        margin: 0;
    }
    #menu-menuButton:checked + .menu-header {
        height: 34px;
    }
}

